@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #f6f9f9;
  --menuColor: #2d3950;
  --fontColor: #999999;
  --contactBgOverlay: #2b364a;
  --headingColor: #292c34;
  --fontColor: #97999b;
  --iconBg: #15a4fa;
  --iconHalfBg: linear-gradient(90deg, #15a4fa 50%, #5fc3ff 50%);
  --iconBgLeft: #48baff;
  --iconBgRight: #5fc3ff;
  --buttonClr: linear-gradient(120deg, #782f96, #302a95);
  --buttonClrHover: linear-gradient(120deg, #302a95, #782f96);
  --border: 1px solid #15a4fa;
}

body {
  font-family: "Lato", sans-serif;
  background: var(--background);
}

a {
  text-decoration: none;
  color: inherit;
  /* color: var(--headingColor); */
}

a:hover {
  text-decoration: none;
  /* color: var(--headingColor); */
}

li {
  list-style: none;
}

p {
  font-size: 15px;
  /* color: var(--fontColor); */
}

h1 {
  font-size: 120px;
  padding: 10px 0px;
}

h2 {
  font-size: 40px;
  padding: 10px 0px;
  /* color: var(--headingColor); */
}

h3 {
  font-size: 22px;
  /* padding: 10px 0px; */
}

h4 {
  font-size: 20px;
  padding: 10px 0px;
}

h5 {
  font-size: 18px;
  padding: 10px 0px;
}

img {
  width: 100%;
  height: 100%;
}

button.btn {
  font-size: 16px;
  padding: 13px 35px;
  background: var(--iconBg);
  color: #000000;
  font-weight: 500;
  border: var(--border);
  color: #fff;
  transition: 0.5s all ease-in-out;
  opacity: 1;
}
button.btn:hover {
  background: var(--iconBg);
  opacity: 0.9;
  color: #fff;
}

.container-fluid {
  padding: 0;
}

section {
  padding: 50px 0px;
  background: linear-gradient(90deg, #0904057e, #0904057e),
    url(../images/contactBg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* --------------------------------------- */

.contact-heading {
  text-align: center;
  color: #fff;
}

.contact-form-part {
  display: grid;
  grid-template-columns: 50% 40%;
  align-items: center;
  justify-content: center;
}

.contact-part-left {
  display: flex;
  flex-direction: column;
  padding: 45px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 4px 4px 14px 0px #0000194d;
}

form {
  display: flex;
  flex-direction: column;
}
.form-head {
  color: #000000;
}

.contact-part-right {
  padding: 30px 45px 0px 45px;
  background: transparent;
  color: #ffffff;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-details-item {
  display: flex;
  padding: 20px 0px;
}
.contact-details-item:nth-child(1) {
  padding-top: 0;
}

.details-icon {
  width: 20px;
}

.contact-details {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.contact-form-part input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 0;
  caret-color: #000000;
}
.contact-form-part input:focus {
  background: transparent;
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}
.contact-form-part input::placeholder {
  color: #000000;
  opacity: 0.7;
}

textarea.form-control {
  margin: 10px 0px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 0;
  caret-color: #ccc;
}
textarea.form-control:focus {
  background: transparent;
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}
textarea.form-control::placeholder {
  color: #000000;
  opacity: 0.7;
}

.form-btn {
  padding: 20px 0px;
}
.details-icon .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  border: 1px solid #cccccc3d;
  justify-content: center;
  align-items: center;
}
.details-icon .icon svg {
  color: #ffffff;
}
.contact-right-heading p {
  margin-bottom: 45px;
  margin-top: 20px;
}
span.border-btm {
  height: 2px;
  width: 45px;
  position: absolute;
  background: red;
}
.contact-details span {
  color: #ccc;
  font-weight: 700;
}
